@import "bootstrap/dist/css/bootstrap.min.css";
.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.box {
  aspect-ratio: 1/1;
  border: 2px solid red;
}
.errorMessage {
  text-align: center;
  font-weight: bold;
}
